{%extends "ewp/base.html"%}
{%load static%}

<link rel="stylesheet" href="{%static 'ewp/courses.css' %}">

{%block head%}
<div id="intro">
                <span class="course-banner">
                        
                </span>
        
                <div class="course-details">
                        <div id="title-text">{{Course.Name}}</div>
                        <div class="course-date">{{Course.date_added}}</div>
                        <div class="course-institution">{{Course.Institution.Name}}</div>
                        <div class="course-description">{{Course.Description}}</div>
                </div>
</div>



{%endblock%}


{%block top-level-body%}

<link rel="stylesheet" href="{%static 'ewp/courses.css' %}">


</div>



{%endblock%}

{%block content%}

<link rel="stylesheet" href="{%static 'ewp/courses.css' %}">

{% for Topic in Course.Content.all %}
        <div class="topic-card">
                        <div class="topic-name">{{Topic.Name}}</div>
                        <div class="lectures">
                        {% for Lecture in Topic.Lectures.all%}
                        {% endfor %}
                        </div>

        </div>
{% endfor %}

<footer>

</footer>





{%endblock content%}
