{%extends "ewp/base.html"%}
{%load static%}
{%block content%}

<link rel="stylesheet" href="{%static 'ewp/courses.css' %}">
<header>
        <h1 id="Title">Courses Page</h1>
</header>


<div class="course-card">
        <span class="course-banner">
                
        </span>

        <div class="course-details">
                <div class="course-name">Physics</div>
                <div class="course-institution">Zewail city</div>
                <div class="course-description">this course covers some things</div>
        </div>
</div>



<footer>

</footer>




{%endblock content%}
