{%extends "ewp/base.html"%}
{%load static%}

{%block head%}

<link rel="stylesheet" href="{%static 'ewp/courses.css' %}">

<div id="intro">
        <div id="title-text">Course Archive</div>
<div id="bodytext">
Welcome to our online learning platform, where you can access a wide range of courses and expand your knowledge in any field you choose. Our platform provides you with an immersive learning experience that is both flexible and convenient. With our interactive courses and expert instructors, you'll have the opportunity to gain new skills and advance your career, all from the comfort of your own home. From technology to business, design to wellness, we've got you covered. Browse our course catalog to find the perfect course for your needs and start learning today!
</div>
</div>

</div>


{%endblock%}

{%block content%}

<link rel="stylesheet" href="{%static 'ewp/courses.css' %}">





<div class="courses">

{% for Course in Courses %}
<a class="card-link" href="{% url 'courses:course' Course.id%}">
        <div class="course-card">

                <span class="course-banner">
                        
                </span>
        
                <div class="course-details">
                        <div class="course-name">{{Course.Name}}</div>
                        <div class="course-date">{{Course.date_added}}</div>
                        <div class="course-institution">{{Course.Institution.Name}}</div>
                        <div class="course-description">{{Course.Description}}</div>
                </div>
        </div>
</a>
{% endfor %}

<footer>

</footer>




{%endblock content%}
