


body{
    color:#575757;
}


.top-level{
    display: flex;
    flex-direction: row;

       
}

.index{

    margin:30px ;
    padding:20px ;
    width:30%;
}


.courses{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;

}

.course-card{
    padding: 100px 30px 30px 30px;
    border: 1px solid #dedede;
    border-radius: 4px;
    margin: 50px  8px;
    position: relative;
    height: 300px;
    width: 250px;
    text-align: center;

}




.course-name{
    font-size: 1.5em;
    font-weight: bold;
    color:#7496b5;
    text-align:center;
    padding-bottom:30px;
}
.course-name-detailed{
    font-size: 2em;
    font-weight: bold;
    color:#7496b5;
    text-align:center;
    padding-bottom:30px;
}


.course-institution{
    font-size: 1.1em;
    font-weight: bold;
    color:#575757;
}


.course-institution{
    font-weight: bold;
    color:#575757;
}
.course-description{
    color:#575757;
}

.course-date{
    color:#575757;
}

a.card-link:link {
  text-decoration: none;
}

a.card-link:visited {
  text-decoration: none;
}

a.card-link:hover {
  text-decoration: none;
}

a.card-link:active {
  text-decoration: none;
}
#explore{
    padding: 20px;
    margin: 0px  0px;
    position: relative;
    width: 100%;
    text-align: left;
    background-color:#c2dcf2;
    color:white;


}

#intro{
    padding: 50px;
    margin: 0px  0px;
    position: relative;
    width: 100%;
    text-align: left;
    background-color:#edf7ff;
}

#bodytext{
    font-size: 1.2em;
}
#title-text{

    color:#7496b5;
    font-size: 1.7em;
    padding-bottom:20px;
    text-align: center;
}
.course-info{

    padding: 30px 60px 30px 60px;
    border: 1px solid #dedede;
    border-radius: 4px;
    margin: 20px  15px;
    position: relative;
    width: 100%;
    text-align: left;
    background-color:#edf7ff;




}


.topic-name{
    font-size: 1.3em;
    font-weight: bold;
    color:#7496b5;
    text-align:left;
    padding-left:15px;
    padding-right:15px;
    margin-top:auto;
    margin-bottom:auto;
    width:100%;
    overflow-wrap: break-word;
}

.lectures{
    display: flex;
    flex-direction: column;
    width:100%;
    margin-right:10px;
 

}
.topic-card{
    padding: 15px;
    border-radius: 4px ;
    margin: 20px  15px;
    position: relative;
    width: 98%;
    text-align: left;
    display: flex;
    flex-direction: row;
    border: 1px solid #dedede;
}

.lecture-card{
    padding: 7px 7px 7px 20px;
    border-radius: 4px ;
    margin: 10px  10px;
    position: relative;
    width: 100%;
    flex-direction: row;
/*    background-color:rgb(237,247,255,0.9);*/
    
 
}

